<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body>
    <div id="app" class="h-screen bg-white dark:bg-gray-900">
      {% include "components/header.njk" %}

      <nav id="navigation" class="fixed inset-y-0 overflow-x-hidden overflow-y-auto  hidden w:64 lg:w-72 mt-20 md:block  dark:bg-gray-900  flex-none top-0  p-4 w-64 md:border-r border-b border-gray-100 dark:border-gray-800">
        <div class=" clear-right">
          <a href="/">
          <div class="block md:hidden pt-4 font-semibold text-gray-500">{{ site.name }}</div>
          <div class="block md:hidden text-sm text-gray-500 mb-4">{{ site.subtitle }}</div>
          </a>
        </div>
         {% include "components/nav.njk" %}
      </nav>
        <main id="main" class="dark:bg-gray-900 pt-16 sm:pt-18 md:pt-20 md:pl-64 lg:pl-72">    
       

        {{ layoutContent | safe }} 
        {% include "components/footer.njk" %} 
        </main>
    </div>
  </body>
</html>
