
body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-default);
  line-height: var(--line-height-normal);
}

a:not(.mbta--button-primary) {
  color: var(--color-action-primary-default);
  font-weight: 500;
  text-decoration: underline;

  &:hover {
    color: var(--color-action-primary-hover);
  }
  &:active {
    color: var(--color-action-primary-active);
  }
  &:visited {
    color: var(--color-action-primary-visited);
  }
  &[disabled] {
    color: var(--color-action-primary-disabled);
  }
}

.mbta--button-primary, .mbta--button-secondary {
  align-items: center;
  border-color: var(--color-cobalt-80);
  border-style: solid;
  border-width: var(--border-width-sm);
  border-radius: var(--border-radius-default);
  display: flex;
  font-weight: bold;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm) var(--spacing-md);
}

.mbta--button-primary {
  background-color: var(--color-cobalt-30);
  color: var(--color-white);

  &:focus {
    outline: calc(var(--border-width-sm) * 2) solid var(--color-cobalt-60);
  }

  &:active, &:hover, &:focus {

  }
}

.mbta--button-secondary {
  background-color: var(--color-white);
  color: var(--color-cobalt-20);

  &:active, &:hover, &:focus {

  }
}

.mbta--skip-link {
  background: 0 0;
  left: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  position: absolute;
  top: -3.8rem;
  transition: .15s ease-in-out;
  z-index: 100;

  &:focus {
    background: var(--background-secondary);
    left: 0;
    position: absolute;
    outline: var(--border-width-sm) solid var(--color-action-primary-default);
    outline-offset: 0;
    top: 0;
    transition: .15s ease-in-out;
  }
}

nav.mbta--subnav {
  background-color: var(--navbar-local-background-color);
  color: var(--menu-item-default-text-color);
  padding-block: var(--spacing-md);

  .mbta--subnav-button {
    + div a {
      background-color: var(--submenu-background-color);
      color: var(--color-action-primary-default)
    }
  }

  .mbta--subnav-button:hover, .mbta--subnav-button[aria-expanded="true"] {
    background-color: var(--menu-item-active-background-color);
    border-color: var(--menu-item-active-border-color);
    color: var(--menu-item-active-text-color);
  }
}

.mbta--submenu, [x-show="mobileExpanded"] {
  background-color: var(--color-cobalt-90);
  border-radius: var(--border-radius-default);
  box-shadow: 0 7px 14px hsla(223, 11%, 12%, 0.2);
  color: var(--color-cobalt-30);
  font-weight: 500;

  a {
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }
}

.mbta--submenu {
  margin-top: var(--spacing-xs);
  min-width: min-content;

  a {
    padding-block: var(--spacing-sm);
    padding-inline: var(--spacing-lg);

    &:hover, &:active {
      background-color: var(--color-cobalt-20);
      border-radius: var(--border-radius-default);
      color: var(--color-white);
    }
  }
}

[x-show="mobileExpanded"] {
  li {
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-lg);

    &:hover, &:has(a.active) {
      background-color: var(--color-cobalt-20);
      border-radius: var(--border-radius-default);
      color: var(--color-white);
    }
  }
}

nav.mbta--nav {
  [role="banner"] &, footer & {
    background-color: var(--navbar-global-background-color);
    padding: var(--spacing-sm) 0;

    .mbta--logo, .mbta--nav-actions {
      display: inherit;
    }

    .mbta--logo {
      filter: invert(1);

      img {
        height: revert-layer; 
        max-height: 2.25rem;
        width: auto;
      }
    }

    .mbta--nav-actions {
      display: flex;
      gap: var(--spacing-md);
    }
  }
}

[role="banner"]:has(.mbta--nav) {
  .mbta--logo {
    container: header-logo / inline-size;
    flex-grow: 1;
    flex-shrink: 0;
  }

  [src='https://cdn.mbta.com/images/mbta-logo.svg']  {
    display: none; 
  }
  [src='https://cdn.mbta.com/images/mbta-name-and-logo.svg']  {
    display: inline-block; 
  }

  .container {
    align-items: center;
    display: flex;
    gap: var(--spacing-md); 
  }

  .mbta--nav-actions {
    margin-left: auto;
  }

  @container header-logo (width < 130px) {
    [src='https://cdn.mbta.com/images/mbta-logo.svg']  {
      display: inline-block; 
    }
    [src='https://cdn.mbta.com/images/mbta-name-and-logo.svg']  {
      display: none; 
    }
  }
}

nav[label="Breadcrumb"] {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

footer:has(.mbta--nav[aria-label^="MBTA system"]) {
  background-color: var(--footer-global-background-color);
  container: footer-nav / inline-size;
  color: var(--color-white);

  a {
    color: var(--color-cobalt-80);
  }
  
  .mbta--subnav {
    background-color: var(--color-cobalt-90);
    color: var(--color-cobalt-10);

    a {
      color: var(--color-cobalt-30);
    }
  }

  .mbta--nav-actions {
    flex-grow: 1;
  }

  .mbta--copyright,
  .mbta--logo {
    margin-left: auto;
  }

  @container footer-nav (width < 56ch) {
    .mbta--nav[aria-label^="MBTA system"] {
      align-items: flex-start;
      flex-direction: column;
    }

    .mbta--copyright,
    .mbta--logo {
      margin-left: unset;
    }
  }  
}
