
body {
  background-color: var(--background-secondary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--text-secondary);
  line-height: var(--line-height-normal);
}

a {
  color: var(--color-action-primary-default);
  text-decoration: underline;

  &:hover {
    color: var(--color-action-primary-hover);
  }
  &:active {
    color: var(--color-action-primary-active);
  }
  &:visited {
    color: var(--color-action-primary-visited);
  }
  &[disabled] {
    color: var(--color-action-primary-disabled);
  }
}

.mbta--skip-link {
  background: 0 0;
  left: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  position: absolute;
  top: -3.8rem;
  transition: .15s ease-in-out;
  z-index: 100;

  &:focus {
    background: var(--background-secondary);
    left: 0;
    position: absolute;
    outline: var(--border-width-sm) solid var(--color-action-primary-default);
    outline-offset: 0;
    top: 0;
    transition: .15s ease-in-out;
  }
}

nav.mbta--subnav {
  a {
    text-decoration: none;;
  }

  .mbta--logo {
    color: var(--menu-item-default-text-color);
  }

  background-color: var(--navbar-local-background-color);
  color: var(--menu-item-default-text-color);
  padding-block: var(--spacing-md);

  .container {
    align-items: center;
    gap: var(--spacing-md); 
  }

  .mbta--subnav-button {
    background-color: transparent;
    border: var(--border-width-sm) solid var(--menu-item-default-border-color);
    border-radius: var(--border-radius-default);
    color: var(--menu-item-default-text-color);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-weight: bold;

    + div a {
      background-color: var(--submenu-background-color);
      color: var(--color-action-primary-default)
    }
  }

  .mbta--subnav-button:hover, .mbta--subnav-button[aria-expanded="true"] {
    background-color: var(--menu-item-active-background-color);
    border-color: var(--menu-item-active-border-color);
    color: var(--menu-item-active-text-color);
  }

  .mbta--subnav-dropdown {
    background-color: var(--submenu-background-color);
    border-color: var(--menu-item-active-border-color);
    color: var(--menu-item-active-text-color);

    a:hover {
      background-color: var(--submenu-item-hover-background-color);
    }
  }
}

nav.mbta--nav {
  [role="banner"] &, footer & {
    background-color: var(--navbar-global-background-color);
    padding: var(--spacing-sm);

    .container {
      align-items: center;
      display: flex;
      gap: var(--spacing-md); 
    }

    .mbta--logo, .mbta--nav-actions {
      display: inherit;
      gap: inherit;
    }

    .mbta--logo {
      filter: invert(1);

      img {
        height: revert-layer; 
        max-height: 2.25rem;
        width: auto;
      }
    }

    .mbta--nav-actions {
      list-style: none;
      padding-inline: 0;
      margin: 0;

      li {
        text-wrap: nowrap;
      }
    }
  }
}

[role="banner"]:has(.mbta--nav) {
  .mbta--logo {
    container: header-logo / inline-size;
    flex-grow: 1;
    flex-shrink: 0;
  }

  [src='https://cdn.mbta.com/images/mbta-logo.svg']  {
    display: none; 
  }
  [src='https://cdn.mbta.com/images/mbta-name-and-logo.svg']  {
    display: inline-block; 
  }

  .mbta--nav-actions {
    margin-left: auto;
  }

  @container header-logo (width < 130px) {
    [src='https://cdn.mbta.com/images/mbta-logo.svg']  {
      display: inline-block; 
    }
    [src='https://cdn.mbta.com/images/mbta-name-and-logo.svg']  {
      display: none; 
    }
  }
}

footer:has(.mbta--nav[aria-label^="MBTA system"]) {
  background-color: var(--footer-global-background-color);
  container: footer-nav / inline-size;
  color: var(--footer-global-text-color);

  a {
    color: var(--color-action-primary-default);
  }

  .mbta--nav-actions {
    flex-grow: 1;
  }

  .mbta--copyright,
  .mbta--logo {
    margin-left: auto;
  }

  @container footer-nav (width < 56ch) {
    .mbta--nav[aria-label^="MBTA system"] {
      align-items: flex-start;
      flex-direction: column;
    }

    .mbta--copyright,
    .mbta--logo {
      margin-left: unset;
    }
  }  
}
