<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or site.name }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or site.description }}">
  <link rel="stylesheet" href="/style.css?v={% version %}" />
  <link rel="stylesheet" href="/_includes/assets/css/mbta.css" />
  <style>
    body {
      min-height: 100vh;    
      display: flex;
      flex-direction: column;
    }

    footer {
      margin-top: auto;
    }
  </style>
  {% set js %}
    {% include "assets/js/inline.js" %}
    {% include "assets/js/search.js" %}
  {% endset %}
  {% set darkmode %}
    {% include "assets/js/darkmode.js" %}
  {% endset %}

  <script>{{ darkmode | jsmin | safe }}</script>
  <script defer>{{ js | jsmin | safe }}</script>

  {% if site.enableSearch == 1 %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js" defer></script>
  {% endif %}

  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css" rel="stylesheet" />

</head>
