<ul>
{%- for page in collections.menuItems -%}
  <li>
    <a class="w-max
    px-4 py-3 
    rounded 
    block
    text-xl
    bg-transparent 
    rounded-lg 
    dark:bg-transparent 
    dark:focus:bg-gray-600 
    dark:focus:text-white 
    dark:hover:text-gray-500 
    dark:text-gray-400 
    md:mt-0 
    hover:text-gray-900 
    focus:text-gray-900 
    focus:outline-none 
    focus:ring
    text-gray-500" href="{{ page.url }}">
     {{ page.data.title }}</a>
    </li>
{%- endfor -%}
</ul>
