<nav label="Breadcrumb" class="py-2">
  {% set bPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
  <div class="container">
  {%- for entry in bPages %}
    {%- if not loop.first %}
    <i class="fa-solid fa-chevron-right px-2" aria-hidden="true"></i>
    {%- endif %}
    <a class="hover:decoration-4" href="{{ entry.url }}">{{ entry.title }}</a>
  {%- endfor -%}
  </div>
</nav>
