
    <footer>
      <nav class="mbta--subnav">
        <div class="container mx-auto px-3">
          {{ site.footer | safe }}
        </div>
      </nav>
      <nav class="mbta--nav" aria-label="MBTA system footer">
        <div class="container mx-auto px-3">
          <ul class="mbta--nav-actions">
            <li><a href="https://www.mbta.com/policies/privacy-policy">Privacy</a></li>
            <li><a href="https://www.mbta.com/policies/terms-use">Terms and conditions</a></li>
          </ul>
          <div class="mbta--copyright">© Massachusetts Bay Transportation Authority, all rights reserved.</div>
          <a class="mbta--logo" href="https://www.mbta.com">
            <img role="img" src="https://cdn.mbta.com/images/mbta-logo.svg" width="36" height="36" alt="Massachusetts Bay Transportation Authority" />
          </a>
        </div>
      </nav>
    </footer>
