<nav class="mbta--nav">
  <div class="container">
    <a class="mbta--logo" href="https://www.mbta.com">
      <img role="img" src="/static/images/mbta-name-and-logo.svg"  width="198" height="36" alt="Massachusetts Bay Transportation Authority" />
      <img role="img" src="/static/images/mbta-logo.svg" width="36"height="36" alt="Massachusetts Bay Transportation Authority" />
    </a>
  </div>
</nav>
