<nav class="mbta--subnav" x-data="{ mobileExpanded: false }">
  <div class="container mx-auto px-3">
    <div class="flex justify-between sm:justify-normal sm:gap-3 items-center">
      <a class="!text-white text-xl/tight !no-underline !font-bold" href="/">{{ site.name }}</a>

      <button class="sm:!hidden mbta--button-primary text-sm" @click="mobileExpanded = ! mobileExpanded">Menu</button>

      <div class="hidden sm:inline-flex gap-2 ml-0 sm:ml-3 justify-center">
        {% set navPages = collections.all | eleventyNavigation %}
        {%- for entry in navPages -%}
          {%- if entry.children.length -%}
            <div class="relative"
              x-id="['dropdown-button']"
              x-data="{
                  open: false,
                  toggle() {
                      if (this.open) { return this.close() }
                      this.$refs.button.focus()
                      this.open = true
                  },
                  close(focusAfter) {
                      if (! this.open) return
                      this.open = false
                      focusAfter && focusAfter.focus()
                  }
              }"
              x-on:keydown.escape.prevent.stop="close($refs.button)"
              x-on:focusin.window="! $refs.panel.contains($event.target) && close()">
                <button x-ref="button"
                  x-on:click="toggle()"
                  :aria-expanded="open"
                  :aria-controls="$id('dropdown-button')"
                  type="button"
                  class="mbta--button-primary" href="{{ entry.url }}">
                  {{ entry.title }}
                  <i class="fa-solid fa-caret-down"></i>
                </button>
                <div class="mbta--submenu absolute left-0 mt-0 grid grid-cols-1 z-10"
                  style="display: none;"
                  x-ref="panel"
                  x-show="open"
                  x-transition.origin.top.left
                  x-on:click.outside="close($refs.button)"
                  :id="$id('dropdown-button')">
                  {%- for child in entry.children -%}
                    <a href="{{child.url}}">{{child.title}}</a>
                  {%- endfor -%}
                </div>
            </div>
          {%- else -%}
            <a class="mbta--button-primary" href="{{entry.url}}">
              {{entry.title}}
            </a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="sm:hidden !mt-4" x-show="mobileExpanded" x-collapse>
      {% include "partials/local-nav-mobile-menu.njk" %}
    </div>
  </div>
</nav>
