---
title: Colors
permalink: /tokens/colors/
eleventyNavigation:
  key: Colors
  parent: Tokens
---

<h2>Interface colors</h2>
<p>Use these to build UIs</p>
<br />
{% set brandcolors = ["cobalt", "gold", "firebrick", "emerald", "amethyst", "charcoal"] %}

{% for color in brandcolors %}
  {% include "swatch_header.njk" %}
  <div class="flex gap-1 mb-3 flex-wrap">
    {% for shade, value in theme.color[color] %}
       {% set colors = [color, shade].join("-") %}
       {% include "swatches.njk" %}
    {% endfor %}
  </div>
{% endfor %}

<h2>System colors</h2>
<p>Use these to represent information directly relating to an MBTA system service.</p>
<br />
{% set systemcolors = {"redLine": "red", "blueLine": "blue", "greenLine": "green", "orangeLine": "orange", "silverLine": "silver", "brandBus": "yellow", "commuterRail": "purple", "ferry": "teal", "theRide": "turquoise", "swa": "cyan", "mbtaDark": "black", "darkWinter": "slate", "midWinter": "sky"} %}

{% for maincolor, color in systemcolors %}
<div class="mb-6">
  {% include "swatch_header.njk" %}
  <div class="flex gap-1 mb-3 flex-wrap">
    {% for shade, value in theme.color.system[color] %}
      {% set colors = ["system", color, shade].join("-") %}
      {% include "swatches.njk" %}
    {% endfor %}
  </div>

  <div class="flex items-center gap-3">
    <div class="bg-system-{{ maincolor }} p-2 h-10 w-6 text-center font-normal rounded"></div>
    <div class="text-system-{{ maincolor }} font-bold">{{ maincolor }}<br />{{ theme.color.system[maincolor]}}</div>
  </div>
</div>
{% endfor %}


