name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:
permissions: 
  contents: write
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 21
      - name: Build 11ty Site
        working-directory: documentation
        run: |
          npm ci
          npm run build:11ty
          npm run build:postcss
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path:
            documentation/_site
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
      actions: read
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
